@{
    ViewBag.Title = "Session Time Out";
}
<div class="container">
    <div class="row">
        <h4 class="page-head-line">Session Time Out</h4>
        <div class="col-lg-12 col-md-12">
            Your session is out of time due to long time idle. Please re-login...
        </div>

        <div class="col-lg-12 col-md-12">
            <a href='@Url.Action("Login", "Account")' style="margin-bottom : 10px;">
                <button class="btn btn-color" style="margin-bottom : 10px;">Re-login</button>
            </a>
        </div>
    </div>
</div>
