@{
    ViewBag.Title = "Active Directory Transfer confirmation";
}


<div class="container">
    <div class="row">
        <h4 class="page-head-line">Security > Active Directory Transfer > confirmation</h4>
        @if (ViewBag.isTransferToActiveDirectory)
        {
            <div class="col-lg-12 col-md-12">
                Account has been transfered to active directory. Please inform user to login with new information.
            </div>
        }
        else
        {
            <div class="col-lg-12 col-md-12">
                Account has been transfered from active directory. Please inform user to login with new information.
            </div>
        }
        <div class="col-lg-12 col-md-12">
            <a href='@Url.Action("Index", "BranchUsers")' class="btn btn-color" style="margin-bottom:10px;">
                Back to List
            </a>

        </div>

    </div>
</div>


