
@{
    ViewBag.Title = "Branch List";
}

<h2>Branch List</h2>

<p>
    @*<div><a href="@Url.Action("BranchList")"><button class="btn btn-color">Report PDF </button> </a></div>*@
    <div><input type="button" value="Report" onclick="GenerateBranchListReport()" class="btn btn-color" /></div>
</p>
@*<div id="divpopupcontain"></div>*@

@section scripts{
    <script src="~/Scripts/sqms/report.js"></script>
<script src="~/Scripts/jquery.fancybox-plus.js"></script>
}


 