@{
    ViewBag.Title = "Counter List";
}
<div class="container">
    <div class="row">
        <h4 class="page-head-line">Error:</h4>
        <div class="col-lg-12 col-md-12">
            @ViewBag.ExtraErrorMessage
        </div>
        <div class="col-lg-12 col-md-12">
            @ViewBag.ErrorMessage
        </div>

        <div class="col-lg-12 col-md-12">
            @ViewBag.InnerErrorMessage
        </div>
    </div>
</div>